name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4

      - name: Install tools
        run: brew install swiftlint

      - name: Run SwiftLint
        run: make lint

  build:
    name: Build
    runs-on: macos-14
    strategy:
      matrix:
        config: ['debug', 'release']
    steps:
      - uses: actions/checkout@v4

      - uses: extractions/netrc@v2
        with:
          machine: github.com
          username: user
          password: ${{ secrets.GH_PAT }}

      - name: Install tools
        run: gem install xcpretty

      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable

      - name: Build platforms in ${{ matrix.config }}
        run: make CONFIG=${{ matrix.config }} build-all-platforms

  test:
    name: Test
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4

      - uses: extractions/netrc@v2
        with:
          machine: github.com
          username: user
          password: ${{ secrets.GH_PAT }}

      - name: Install tools
        run: gem install xcpretty

      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable

      - name: Run tests
        run: make CONFIG=debug test-all-platforms
